<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>What2Eat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    
    
    </head>
    <body>
        <nav class="navbar  navbar-inverse header ">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand header-a" href="#"><img style="width:40px" src="{% static 'what2eat.png' %}"> What2Eat </a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                    <li>   
                            <a href="/friends" class="header-a">Manage Friends</a>
                    </li>
                    <li>   
                            <a href="/logout" class="header-a">Log Out</a>
                    </li>
                            {% endif %}
                    </ul>
                </div>
        </nav>


        {% if user.is_authenticated %}


        <div class="container" style="margin-left:30px">
            <div style="margin-top: 10px;width:80%">
                <h3 class="logo"> Hi, {{user}} </h3>
                <span class='logo'> All Categories Saved </span>
                <br> 
                {% for c in cl%}
                 #{{c}}
                {% endfor %}
                
            </div>
            <hr style="border-top: 1px solid #ffffff;">
            <!-- Search Bar -->
            <span class='logo'>Can't decide? Use <a href ='/selection'> selection mode </a></span>
            <hr style="border-top: 1px solid #ffffff;">
            <form class="form-inline md-form form-sm active-search mt-2" style="margin:0px; padding:0px" method="POST" action="/search/">
                <span class='logo'> Find new restaurants</span>
                {% csrf_token %}
                <br>
                <input class="form-control form-control-sm ml-3" style="margin:0px; padding:0px" name="searchKey"  type="text" placeholder="Search"
                    aria-label="Search">
            </form>
            <br>
            <div class="card " >
                    <div class="card-header navbar-custom">
                        <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Saved Restaurants</a>
                        </li>
                        </ul>
                    </div>
                    <div class="card-body">
                            <ul class="list-group list-group-flush">
                                    {% for r in rl%}
                                    <li class="list-group-item">
                                    <h5 style="color:#1c3c54"> <a style="color:#1c3c54" href="{{r.url}}">{{r.name}}</a> <span class="card-subtitle mb-2 text-muted"> ({{r.rating}}) </span> </h5> 
                                    <span class="text-muted">{% for c in r.categories %} #{{c}} {% endfor %}</span>
                                    <p class="card-text" style="color:#1c3c54">{{r.address}} </p>
                                    <a class="text-right" href="/remove?id={{r.id}}" style="text-align: right;"> remove </a>

                                    </li>
                                    {% endfor %}

                            </ul>
                    </div>
                </div>




        </div>

        {% else %}
            <div class="container" style="margin-left:30px">
                
                <div style="height:120px"> 
                </div>
                
                <h2 class="logo">What2Eat</h2>

                
                Can't decide what to have for dinner today? <br>
                What2Eat helps you decide!<br>
                *currently available only for Philadelphia residents.
                <br>
                <br>
                <a href="/accounts"> Log In or Create Account </a>
            </div>
        {% endif %}

    </body>
</html>