{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">     


<body>
    <h2> Jina's Blog </h2>
    <a href="/blog"> See All Posts</a>
    <br>
    <span class="body">
            <img src="{% static "main.jpg" %}" alt="My image">
            <p> Hi, my name is Jina Lo, and I am a college student interested in photography and movies. 
            <br> This is a blog about photography and movies I love.  <p>
        
    </span>


    
</body>
