<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>192 Twitter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

      </head>
    <body>
        <nav class="navbar navbar-inverse header">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand header-a" href="/">192 TWITTER</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                    <li>    {% if user.is_authenticated %}
                            <a href="/logout" class="header-a">Log Out</a>
                            {% endif %}</li>
                    </ul>
                </div>
        </nav>
      {% if user.is_authenticated %}
      <div class="container twitContainer">
        <h2>#{{hashtag}}</h2>

          <div class="col col-4">
                {% for t in tweets %}
                <div class = "card tw">
                    <div class = "card-body">
                        <a class = "sm-tw" href="/profile?user={{t.author}}"> {{t.author}} </a> <span style="font-size: 10px;color:dimgrey"> :: {{t.created_at}} </span> 

                        <p class="tweet-body" style="margin-top:5px; margin-bottom:7px">{{t.body}}</p>

                        {% if t.like %}
                            <a class = "sm-tw" href="/unlike?id={{t.id}}"> <img style="width:25px" src="{% static 'heart-2.png' %}" > </a> <span style="font-size: 10px; color:dimgrey">({{t.like_num}} Likes) </span> 
                        {% else %}
                            <a class = "sm-tw" href="/like?id={{t.id}}"> <img style="width:25px" src="{% static 'heart.png' %}" > </a> <span style="font-size: 10px; color:dimgrey">({{t.like_num}} Likes) </span> 
                        {% endif %}

                        {% if user == t.author %}
                        <a class = "sm-tw" href="/delete?id={{t.id}}">Delete</a>
                        {% endif%}
                        
                    </div>

                </div>
                {% endfor %}
          </div>

      </div>
  {% endif %}


        

    </body>
</html>